body{
    background-color: white;
}

.logo{
width: 200px;
height: 70px;
}
.menu{
    background-color: rgb(211, 9, 9);
}
.links a{
    background-color: rgb(206, 22, 22);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
   display: inline-block;
}

.link{
    text-align: center;
    display: inline-block;
    background-color: red;
    
}
 
.head{
    background-image:url("startsida.jpg");
    width: 100%;
    height: 300px;
 
}

#searchbox{
margin:auto;
width: 300px;
height: 150px;
align-items: center;
}
